@model Millie.Web.Models.TattooRoomViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tattoo Room</h2>

@if (ViewBag.ProcessChoiceResponse != null)
{
    <p>Response:</p>
    <p>@ViewBag.ProcessChoiceResponse</p>
}

@if (ViewBag.ProcessChoiceResponse == null)
{
    <p>Description:</p>
    <p>@Model.Description</p>
}

Choices:
@foreach (var choice in Model.Choices)
{
    <ul>
        <li><a href="@Url.Action("ProcessChoice", new { choiceId = @choice.Id })">@choice.Description</a></li>
    </ul>
}